In [2]:
list=["apple", "banana", "cherry"]
for i in list:
  print(i)

apple
banana
cherry

In [4]:
l4=[1,2,3,4,'Apple','Ball','Cat',True,False]
for i in l4:
    print(i,end=' ')

1 2 3 4 Apple Ball Cat True False

In [7]:
list1=['Apple',1,['cherry','Banana']]
for i in list1:
    print(i)

Apple
1
['cherry', 'Banana']

In [11]:
list=["apple", "banana", "cherry"]
for i in range(len(list)):
  print(i)

0
1
2

In [14]:
list1=['Apple',1,['cherry','Banana']]
for i in range(len(list1)):
    print(i)

0
1
2

In [17]:
list=["apple", "banana", "cherry"]
for i in range(len(list)):
    print(list[0])

apple
apple
apple

In [20]:
list=["apple", "banana",'apple','papaya' "cherry"]
count=0
for i in list:
    if i=='apple':
        count=count+1
print(count)

2

In [26]:
list=["apple", "banana",'apple','papaya' "cherry"]
count=0
for i in range(len(list)):
    print(list[2])

apple
apple
apple
apple

In [27]:
#Q1) WAP ask the user count how many 'hai' are present in a given string
list1=['hai','naresh', 'how', 'hai', 'are', 'you']
count=0
for i in list1:
    if i=='hai':
        count=count+1
print(count)

2

In [28]:
list1=['hai','naresh', 'how', 'hai', 'are', 'you']
count=0
for i in list1:
    if i=='a':
        count=count+1
print(count)

0

In [30]:
list1=['hai','naresh', 'how', 'hai', 'are', 'you']
count=0
for i in range(len(list1)):
    print(list1[i])

hai
naresh
how
hai
are
you

In [32]:
list1=['hai','naresh', 'how', 'hai', 'are', 'you']
count=0
for i in range(len(list1)):
    print(f"Positive Index of {list1[i]} is {i}")

Index of hai is 0
Index of naresh is 1
Index of how is 2
Index of hai is 3
Index of are is 4
Index of you is 5

In [33]:
list1=['hai','naresh', 'how', 'hai', 'are', 'you']
count=0
for i in range(len(list1)):
    print(f" Negative Index of {list1[i]} is {i-len(list1)}")

 Negative Index of hai is -6
 Negative Index of naresh is -5
 Negative Index of how is -4
 Negative Index of hai is -3
 Negative Index of are is -2
 Negative Index of you is -1

In [35]:
#count unique apple
list=["apple", "banana",'apple','papaya' "cherry"]
l1=[]
count=0
for i in range(len(list)):
    if list[i] not in l1:
        if list[i] in 'apple':
            print(list[i])
            l1=l1+list[i]
            count=count+1
print(count)

apple

TypeError: can only concatenate list (not "str") to list

In [36]:
# index of each 'apple'
list=["apple", "banana",'apple','papaya' "cherry"]
count=0
for i in range(len(list)):
    if list[i]=='apple':
        print(i)

0
2

In [48]:
#Q10) wap ask the user get the sum of all index numbers of 'apple'
list=["apple", "banana",'apple','papaya','apple', "cherry"]
count=0
summ=0
for i in range(len(list)):
    if list[i]=='apple':
        count=count+1
        summ=summ+i
        print(i)

print(f'Numer of apples are : {count}')
print(f"Sum of indexes of apple are : {summ}")

0
2
4
Numer of apples are : 3
Sum of indexes of apple are : 6

In [49]:
# indexing in list and string are same
list=["apple", "banana",'apple','papaya','apple', "cherry"]
list[0]

'apple'

In [50]:
list[-5]

'banana'

In [52]:
list1=["apple", "banana",'apple','papaya','apple', "cherry"]
list2=['hai','naresh', 'how', 'hai', 'are', 'you',1,6,5]
print(list1+list2)

['apple', 'banana', 'apple', 'papaya', 'apple', 'cherry', 'hai', 'naresh', 'how', 'hai', 'are', 'you', 1, 6, 5]

**slicing**

In [54]:
list=['apple', 'banana', 450, 'papaya', 10, 'cherry', 'hai', 'naresh']
list[0:4]

['apple', 'banana', 450, 'papaya']

In [55]:
list[:len(list)]

['apple', 'banana', 450, 'papaya', 10, 'cherry', 'hai', 'naresh']

In [59]:
list[-3:-6]

[]

In [60]:
list=['apple', 'banana', 450, 'papaya', 10, 'cherry', 'hai', 'naresh']
list[1:5]

['banana', 450, 'papaya', 10]

In [62]:
list=['apple', 'banana', 450, 'papaya', 10, 'cherry', 'hai', 'naresh']
list[-1:-4:-1]

['naresh', 'hai', 'cherry']

In [63]:
list=['apple', 'banana', 450, 'papaya', 10, 'cherry', 'hai', 'naresh']
list[::-1]

['naresh', 'hai', 'cherry', 10, 'papaya', 450, 'banana', 'apple']